*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body main {
  background-image: linear-gradient(#af67e9, #6565e7);
  font-family: "Kumbh Sans", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .faq {
  margin-inline: 1.5rem;
  width: 20.5rem;
  min-height: 33.3rem;
  padding: 8.625rem 1.5rem 3rem 1.5rem;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0px 20px 40px #0a0a43;
  background: #fff url("../images/bg-pattern-mobile.svg") top center no-repeat;
}
body main .faq::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -6.9rem;
  left: 0;
  background: url("../images/illustration-woman-online-mobile.svg") center top no-repeat;
  background-size: 15rem;
}
@media (min-width: 1100px) {
  body main .faq {
    width: 57.5rem;
    padding: 4.7rem 6.9rem 4.7rem 29rem;
    background-color: #fff;
    background-image: url("../images/illustration-woman-online-desktop.svg"), url("../images/bg-pattern-desktop.svg");
    background-position: -5.6rem center, -36.4rem -19.25rem;
    background-size: auto, auto;
  }
  body main .faq::before {
    background: none;
  }
}
body main .faq h1 {
  font-size: 1.75rem;
  color: #1d1e35;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.15rem;
}
@media (min-width: 1100px) {
  body main .faq h1 {
    text-align: left;
  }
}
body main .faq .faq-container .faq-item {
  padding: 1.1rem 0;
  border-bottom: 1px solid #e7e7e9;
  font-size: 0.75rem;
}
body main .faq .faq-container .faq-item .question {
  color: #4a4b5e;
  cursor: pointer;
  position: relative;
}
body main .faq .faq-container .faq-item .question:hover {
  color: #f47c57;
}
body main .faq .faq-container .faq-item .question::before {
  content: url("../images/icon-arrow-down.svg");
  position: absolute;
  height: auto;
  width: auto;
  top: 0;
  right: 0;
  transition: all 0.5s ease-in;
}
body main .faq .faq-container .faq-item .answer {
  color: #787887;
  height: 0;
  opacity: 0;
  transition: all 0.5s ease-in;
}
body main .faq .faq-container .open .question {
  font-weight: 700;
  color: #1d1e35;
}
body main .faq .faq-container .open .question::before {
  transform: rotate(180deg);
}
body main .faq .faq-container .open .answer {
  height: auto;
  opacity: 1;
  margin-top: 1.1rem;
}
body main .faq .faq-container .box {
  display: none;
}
@media (min-width: 1100px) {
  body main .faq .faq-container .box {
    display: block;
    position: absolute;
    top: 14rem;
    left: -6.25rem;
    transition: all 0.5s ease-in;
  }
}/*# sourceMappingURL=style.css.map */