@use "reset";
@use "variables"as v;


body {
    main {
        background-image: v.$bg-gradient;
        font-family: v.$font;
        width: 100%;
        min-height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;


        //GENERAL LAYOUT FAQ CARD
        .faq {
            margin-inline: 1.5rem;
            width: 20.5rem;
            min-height: 33.3rem;
            padding: 8.625rem 1.5rem 3rem 1.5rem;
            border-radius: 1rem;
            position: relative;
            box-shadow: 0px 20px 40px darken(#6565e7, 50%);
            background: v.$white url("../images/bg-pattern-mobile.svg") top center no-repeat;

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: -6.9rem;
                left: 0;
                background:
                    url('../images/illustration-woman-online-mobile.svg') center top no-repeat;
                background-size: 15rem;
            }

            @include v.breakpoint {
                width: 57.5rem;
                padding: 4.7rem 6.9rem 4.7rem 29rem;
                background-color: v.$white;
                background-image:
                    url("../images/illustration-woman-online-desktop.svg"),
                    url("../images/bg-pattern-desktop.svg");
                background-position: -5.6rem center,
                    -36.4rem -19.25rem;
                background-size: auto, auto;

                &::before {
                    background: none;
                }
            }

            //HEADER
            h1 {
                font-size: v.$h1-size;
                color: v.$h1-bold;
                font-weight: 700;
                text-align: center;
                margin-bottom: 1.15rem;

                @include v.breakpoint {
                    text-align: left;
                }
            }

            .faq-container {

                //FAQ ITEMS
                .faq-item {
                    padding: 1.1rem 0;
                    border-bottom: 1px solid v.$dividers;
                    font-size: v.$p-size;

                    .question {
                        color: v.$p-question;
                        cursor: pointer;
                        position: relative;

                        &:hover {
                            color: v.$hover;
                        }

                        &::before {
                            content: url("../images/icon-arrow-down.svg");
                            position: absolute;
                            height: auto;
                            width: auto;
                            top: 0;
                            right: 0;
                            transition: all 0.5s ease-in;
                        }
                    }

                    .answer {
                        color: v.$p-answer;
                        height: 0;
                        opacity: 0;
                        transition: all 0.5s ease-in;
                    }

                }

                .open {
                    .question {
                        font-weight: 700;
                        color: v.$h1-bold;

                        &::before {
                            transform: rotate(180deg);

                        }
                    }

                    .answer {
                        height: auto;
                        opacity: 1;
                        margin-top: 1.1rem;
                    }
                }

                .box {
                    display: none;

                    @include v.breakpoint {
                        display: block;
                        position: absolute;
                        top: 14rem;
                        left: -6.25rem;
                        transition: all 0.5s ease-in;
                    }
                }
            }
        }
    }
}